.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countContainer {
    padding: 1rem 0;
}

.count {
    color: var(--color-secondary);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0 1rem;
}