.btn {
    color: var(--bgcolor-secondary);
    border: 0;
    border-bottom: 2px solid var(--color-ternary);
    border-radius: 5px;
    padding: 0.4rem 1rem;
    font-weight: 900;
    background: var(--color-primary);
    cursor: pointer;
    position: relative;
    display: inline-block;
    outline: none;
  }

  .btn:hover {
    color: var(--color-primary);
    background: var(--bgcolor-secondary);
    outline: none;
    border-color: var(--color-primary);
  }

  .btn:active {
    border: 0;
    transform: translateY(2px);
  }