.container {
    display: flex;
    color: var(--color-ternary);
}

.container:hover {
    color: var(--color-primary);
}

.containerActive {
    color: var(--color-primary);
}

.icon {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 20px;
}

.icon i {
    font-size: 1.4rem;
}

.title {
    font-weight: bold;
    padding: 1rem;
    display: none;
}

@media screen and (min-width: 660px) {
    .title {
      display: block;
      width: 20%;
    }
}