:root {
    --color-primary: #000;
    --color-secondary: gray;
    font-size: 14px;
}

@media screen and (min-width: 320px) {
    :root {
      font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1400 - 320)));
    }
}

@media screen and (min-width: 1400px) {
    :root {
      font-size: 18px;
    }
}